td {border: 1px solid black; padding: 27px;}
tr.merged td:not(:nth-child(1)) {border: none;}
.viewport-input {box-shadow: inset 1px 1px 3px 3px white;}
table * tr:not(:nth-child(2)) td {text-align: center;}
